@model UpdateContactDto
@{
    ViewData["Title"] = "UpdateContact";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">İletişim İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">İletişim Alanını Güncellemek için Aşağıdaki Formu Doldurabilirsiniz.</div>
                            <div class="card-sub">
                                İletişim alanıyla ilgili işlemleri aşağıdan gerçekleştirebilirsiniz.
                            </div>
                        </div>
                        <div class="card-body">
                            <input type="hidden" asp-for="ContactId" />
                            <div class="form-group">
                                <label for="Location">Konum</label>
                                <input asp-for="Location" type="text" class="form-control" placeholder="Yeni konumu giriniz">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Phone">Telefon Numarası</label>
                                <input asp-for="Phone" type="text" class="form-control" placeholder="Telefon numarası bilginizi giriniz">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Mail">Mail</label>
                                <input asp-for="Mail" type="text" class="form-control" placeholder="Mail bilginizi giriniz">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="FooterDescription">Açıklama</label>
                                <input asp-for="FooterDescription" type="text" class="form-control" placeholder="Açıklama bilgisini giriniz">
                            </div>
                        </div>
                        <div class="card-action">
                            <button type="submit" class="btn btn-primary">İletişim Alanını Güncelle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>